extends ../layouts/common.pug       
block content
  h1 List Product

    .album.py-5.bg-light
        .container
            .row 
                each product in products
                    .col-md-4
                        .card.mb-4.shadow-sm
                            svg.bd-placeholder-img.card-img-top(width='100%', height='225', xmlns='http://www.w3.org/2000/svg', preserveaspectratio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: Thumbnail')
                                title Placeholder
                                rect(width='100%', height='100%', fill='#55595c')
                                text(x='50%', y='50%', fill='#eceeef', dy='.3em')= product.name
                            .card-body
                                p.card-text
                                    product.description
                            .d-flex.justify-content-between.align-items-center
                                    .btn-group
                                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                                    small.text-muted 9 mins
