extends ../layouts/common.pug       
block content
  h1 User

  a.btn.btn-primary(href="/users/create") New
  
  form(action="/users/search", method="get", class="d-flex")
    input.form-control(type='text', name="q")
    button.btn.btn-primary.ml-2(type='submit') Search
  table.table
    tr
      th name
      th phone
      th Action
         
    each user in users
      tr
        td= user.name
        td= user.phone
        td
          a(href='/users/' + user.id) View
        

 